<!DOCTYPE html>
<html lang="en">
  <head>
   
    <title>MMT</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
		
    <link rel="stylesheet" type="text/css" href="css/main.css">
	  <!-- Custom stylesheet CSS-->
	<!--<link rel="stylesheet" href="./font-awesome/css/fontawesome.min.css">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/scrollbar-custom.css">
	<link href="summernote/summernote.css" rel="stylesheet">
    <!-- Font-icon css-->
   <!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
	<!-- Jquery import file here -->
	<script src="js/jquery-3.2.1.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  </head>
  <body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="#"><img src="images/logo/media-magic-logo-white.svg"/></a>
      <!-- Sidebar toggle button--><a style="display:none"class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
        
        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item toggle-btn" href="#" data-toggle="dropdown" aria-label="Open Profile Menu">
			<div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/static/images/icons/icons8-user-50.png" alt="User Image">
			<div>
			  <p class="app-sidebar__user-name">Shivdas Mane</p>
			  <p class="app-sidebar__user-designation">Farmer</p>
			</div>
		 </div>	
		</a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right"></ul>
            <li><a class="dropdown-item" href="#"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-lg"></i> Profile</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
          </ul>
        </li>
		<!-- Site Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-bars fa-lg"></i></a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
            <li><a class="dropdown-item" href="#"><i class="fa fa-cog fa-lg"></i> Monthly Basis</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-lg"></i> Daily Basis</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out fa-lg"></i> Emergency</a></li>
          </ul>
        </li>
      </ul>
    </header>