<main class="page-content">
 <!-- If require breadcrum then inclide breadcrum.php here -->
 <section class="temp-page-section">
 <div class="container">
	<div class="tab-panel">
		<div class="main-card mb-3 card">
				<div class="card-header row no-gutters">										
					<div class="card-panel-right col-md-6">
						<div class="btn-actions-pane-right actions-icon-btn">
							<div role="group" class="btn-group-sm nav btn-group">
								<a data-toggle="tab" href="#tab-eg3-0" class="nav-link show active">New Customer</a>
							</div>
						</div>
					</div>
				</div>
				
					<div class="tab-pane" id="tab-eg3-1" role="tabpanel">
						<div class="customer-panel">
						<form class="form-horizontal" method="POST" action="{{ url_for('user_registration') }}">
							<div class="row no-gutters">
								<div class="col-md-6 form-left">
									<div class="form-group row">
									  <label class="control-label col-md-3">Name</label>
									  <div class="col-md-8">
										<input class="form-control" type="text" placeholder="Enter Full Name" name="Name">
									  </div>
									</div>
									<div class="form-group row">
									  <label class="control-label col-md-3">Email</label>
									  <div class="col-md-8">
										<input class="form-control col-md-12" type="email" placeholder="Enter email address" name="Email">
									  </div>
									</div>
									<div class="form-group row">
									  <label class="control-label col-md-3">Mobile</label>
									  <div class="col-md-8">
										<input class="form-control" type="text" placeholder="Enter Contact Number" name="Mobile">
									  </div>
									</div>
									<div class="form-group row">
									  <label class="control-label col-md-3">Address</label>
									  <div class="col-md-8">
										<textarea class="form-control" rows="4" placeholder="Enter your address" name="Address"></textarea>
									  </div>
									</div>
									<div class="form-group row">
									  <label class="control-label col-md-3">Type</label>
									  <div class="col-md-9">
										<div class="animated-radio-button">
										  <label>
											<input type="radio" name="usertype" value="customer"><span class="label-text">Customer</span>
										  </label>
										</div>
										<div class="animated-radio-button">
										  <label>
											<input type="radio" name="usertype" value="farmer"><span class="label-text">Farmer</span>
										  </label>
										</div>
									  </div>
									</div>
									<div class="form-group row">
									  <div class="col-md-8 col-md-offset-3">
										<div class="animated-checkbox">
										  <label>
											<input type="checkbox" class="form-check-input"><span class="label-text">I accept the terms and conditions</span>
										  </label>
										</div>
									  </div>
									</div>
								</div>
								<div class="col-md-6 form-right">
									<div class="form-group row">
									  <label class="control-label col-md-3">Country</label>
									  <div class="col-md-8">
										<select class="form-control" id="exampleSelect1">
										  <option>Select Country</option>
										  <option>India</option>
										  <option>US</option>
										  <option>Japan</option>
										  <option>Germany</option>
										  <option>England</option>
										</select>
									  </div>
									</div>
									<div class="form-group row">
									  <label class="control-label col-md-3">State</label>
									  <div class="col-md-8">
										<select class="form-control" id="exampleSelect1">
										  <option>Select State</option>
										  <option>Mahashtra</option>
										  <option>Goa</option>
										  <option>Karnataka</option>
										  <option>Gujarat</option>
										  <option>Other</option>
										</select>
									  </div>
									</div>
									<div class="form-group row">
									  <label class="control-label col-md-3">City</label>
									  <div class="col-md-8">
										<select class="form-control" id="exampleSelect1">
										  <option>Select City</option>
										  <option>Pune</option>
										  <option>Mumbai</option>
										  <option>Nashik</option>
										  <option>Nagpur</option>
										  <option>Other</option>
										</select>
									  </div>
									</div>
									<div class="form-group row">
									  <label class="control-label col-md-3">Pin Code</label>
									  <div class="col-md-8">
										<input class="form-control" type="text" placeholder="Enter local Pincode" name="PinCode">
									  </div>
									</div>
									<div class="form-group row">
									  <label class="control-label col-md-3">Gender</label>
									  <div class="col-md-9">
										<div class="form-check">
										  <label class="form-check-label">
											<input class="form-check-input" type="radio" name="gender" name="gender">Male
										  </label>
										</div>
										<div class="form-check">
										  <label class="form-check-label">
											<input class="form-check-input" type="radio" name="gender" name="gender">Female
										  </label>
										</div>
									  </div>
									</div>
									<div class="form-group row">
									  <label class="control-label col-md-3">Profile Picture</label>
									  <div class="col-md-8">
										<input class="form-control" type="file" placeholder="Choose Profile picture">
									  </div>
									</div>
								</div>
							</div>
							<div class="d-block text-right card-footer">
								<!--<button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="fa fa-trash"> </i></button>-->
								<button class="btn-wide btn btn-success" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i> Save</button>
						  </form>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
 </section>
</main>
<script>

	

 // code here
 
 (function($) {

  $.wait = function(duration, completeCallback, target) {
    $target = $(target || '<queue />');
    return $target.delay(duration).queue(function(next){completeCallback && completeCallback.call($target); next();});
  }

  $.fn.wait = function(duration, completeCallback) {
    return $.wait.call(this, duration, completeCallback, this);
  };

})(jQuery);


	$("#search-btn").click(function(){
	$('.loding-box').show();
	 $.wait(1000, function() {
   
		$.ajax({
		  url: "page-ajax-search.php",
		  success: function(result){
		$("#search-result1").html(result);
		$('.loding-box').hide();
		//$(".modal").modal('hide');			 
			 //$(".success-popup").show();
				//$.wait(1000, function(){				
					//$(".success-popup").hide();
			//});
	  }});	
	});
	//$('.loding-box').hide();
	});

</script>
