<main class="page-content">
<div class="page-outer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="product-card">
					<div class="product-card-inner">
						<div class="product-image">
							<img src="/static/images/product/nicrome-product/product-images/wheat.png" class="product-card-img" 
							alt="Wheat"/>
						</div>
						<div class="product-desc">
							<h4>Wheat</h4>
							<p>Wheat (species of Triticum) is a cereal grain. People eat it most often in the form of bread. It is a kind of grass whose fruit is a "head of wheat" with edible seeds. It was first grown in the Levant, a region of the Near East.</p>
						</div>
						<div class="product-action">
							<a href="{{ url_for('select_varient') }}" class="btn btn-primary btn-block btn-sm">Select Variant</a>
						</div>
					</div>
				</div>
		    </div>
		
			<div class="col-md-4">
					<div class="product-card">
						<div class="product-card-inner">
							<div class="product-image">
								<img src="/static/images/product/nicrome-product/product-images/sorghum.png" class="product-card-img" 
								alt="Sorghum"/>
							</div>
							<div class="product-desc">
							<h4>Sorghum</h4>
							<p>Sorghum is a genus of flowering plants in the grass family Poaceae, which includes about 25 species. Some of these species have grown as cereals for human consumption and some in pastures for animals</p>
							</div>
							<div class="product-action">
								<a href="{{ url_for('select_varient') }}" class="btn btn-primary btn-block btn-sm">Select Variant</a>
							</div>
						</div>
					</div>
			</div>
		
			<div class="col-md-4">
					<div class="product-card">
						<div class="product-card-inner">
							<div class="product-image">
								<img src="/static/images/product/nicrome-product/product-images/rice.png" class="product-card-img"
								alt=""/>
							</div>
							<div class="product-desc">
							<h4>Rice</h4>
							<p>Rice is the seed of the grass species Oryza glaberrima (African rice) or Oryza sativa (Asian rice). As a cereal grain, it is the most widely consumed staple food for a large part of the world's human population.</p>
							</div>
							<div class="product-action">
								<a href="{{ url_for('select_varient') }}" class="btn btn-primary btn-block btn-sm">Select Variant</a>
							</div>
						</div>
					</div>
			</div>
	</div>
	
	<!-- Product Row 2 -->
	
	<div class="row row-gap">
			<div class="col-md-4">
				<div class="product-card">
					<div class="product-card-inner">
						<div class="product-image">
							<img src="/static/images/product/nicrome-product/product-images/pearl-millet.png" class="product-card-img"
							alt="pearl-millet"/>
						</div>
						<div class="product-desc">
							<h4>Pearl Millet</h4>
							<p>Pearl millet (Pennisetum glaucum) is the most widely grown type of millet. It has been grown in Africa and the Indian subcontinent since prehistoric times. The center of diversity, and suggested area of domestication.</p>
						</div>
						<div class="product-action">
							<a href="select-varient.php" class="btn btn-primary btn-block btn-sm">Select Variant</a>
						</div>
					</div>
				</div>
		</div>
		
		<div class="col-md-4">
				<div class="product-card">
					<div class="product-card-inner">
						<div class="product-image">
							<img src="/static/images/product/nicrome-product/product-images/pigeon-pea.png" class="product-card-img"
							alt="pigeon-pea"/>
						</div>
						<div class="product-desc">
							<h4>Pigeon Pea</h4>
							<p>The pigeon pea (Cajanus cajan), also known as pigeonpea, red gram, tur, or as gungo peas in Jamaica, is a perennial legume from the family Fabaceae. Since its domestication in the Indian subcontinent at least 3,500 years ago.</p>
						</div>
						<div class="product-action">
							<a href="select-varient.php" class="btn btn-primary btn-block btn-sm">Select Variant</a>
						</div>
					</div>
				</div>
		</div>
		
		<div class="col-md-4">
				<div class="product-card">
					<div class="product-card-inner">
						<div class="product-image">
							<img src="/static/images/product/nicrome-product/product-images/sugar.png" class="product-card-img"
							alt="Sugar"/>
						</div>
						<div class="product-desc">
						<h4>Sugar</h4>
							<p>Sugar is the generic name for sweet-tasting, soluble carbohydrates, many of which are used in food. Table sugar, granulated sugar, or regular sugar, refers to sucrose, a disaccharide composed of glucose and fructose.</p>
						</div>
						<div class="product-action">
							<a href="select-varient.php" class="btn btn-primary btn-block btn-sm">Select Variant</a>
						</div>
					</div>
				</div>
		</div>
	</div>
	
	
</div>
</main>
