
<main class="page-content">
 <!-- If require breadcrum then inclide breadcrum.php here -->
 <section class="quote-page-section">
	<div class="container">
	<span class="revision-version">R1</span>
	<div class="note">
		<div class="quote-box ">
			<div class="quote-panel">				
				<div class="row no-gutters">
					<div class="col-md-12">
					<div class="row no-gutters">
						<div class="col-md-6">
							<div class="product-image">
								<img src="/static/images/product/nicrome-product/product-images/plot3.png" class="masonry-image">
							</div>
						</div>
						
				        
                       	
						<div class="col-md-6">
							<div class="product-desc">
                            <p>Quotation # CPQ/TL/1828-19/R-1<br />
								Created by MMT Group</p>
								<h3 class="product-title"><strong>#40011/3001</strong></h3>
								</p>
                                <table  class="table table-bordered table-hover table-sm">
									 <thead class="thead-light">
									  <tr>
										<td>Plot info</td>
										<td>Specification</td>
										
									  </tr></thead>
									 <tbody> <tr>
										<td>Plot Id</td>
										<td>#3001</td>
										
									  </tr>
									  <tr>
										<td>Plot Area</td>
										<td>1040 sqrt</td>
										
									  </tr>
									  <tr>
										<td>Quantity</td>
										<td>100kg</td>
										
									  </tr>
									  <tr>
										<td>Expected Date</td>
										<td>22 March 2021</td>
										
									  </tr>
									 
									  
									  </tbody>
									</table>
									<p>
									Product Price: Rs. 2700/-<br />
									Total Price: Rs. 3760/-
									</p>

							</div>	
							</div>
					  </div>
		
					</div><!-- End of col-md-12-->
				</div><!-- End of col-md-12-->
				</div><!-- End of row-->
				
				<div class="quote-action">
					<div class="row no-gutters">
						<div class="col-md-6">

						</div>
						<div class="col-md-6">
							<div class="revise-btn-grp">
								<span class="btn-spacing"><a href="{{ url_for('select_product') }}" class="btn btn-primary">Cancel Order</a></span>
								<span class="btn-spacing"><a href="{{ url_for('select_price') }}" class="btn btn-primary">Edit Order</a></span>
								<span class="btn-spacing"><a href="{{ url_for('select_product') }}" class="btn btn-primary">Place Order</a></span>
							</div>
						</div>
					</div>
				</div>
			</div><!-- End of quote-panel-->
		</div><!-- End of quote-box-->
		</div><!-- End of quote-box-->
		</div><!-- End of note -->
	</div><!-- End of container-->
 </section>
</main>

