<main class="page-content">
<div class="page-outer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
					<div class="product-card">
						<div class="product-card-inner">
							<div class="product-image">
								<img src="/static/images/product/nicrome-product/product-images/plot1.png" class="product-card-img" 
								alt="High Speed DH Wing Servo Auger Filler Machine"/>
							</div>
							<div class="product-desc">
								<h4 class="center">Ploats:</h4>
								<h5 class="center">Total Plots : 30</h5>
								<h5 class="center">Remaining Plots : 18</h5>
								<h5 class="center">Price per/plot : 2700/-</h5>
								<h5 class="center">Date Of Delivery : 22 March 2021</h5>
							</div>
							<div class="product-action">
								<a href="{{ url_for('select_farmer_info') }}" class="btn btn-primary btn-block btn-sm">Start Now</a>
							</div>
						</div>
					</div>
		    </div>
		
			<div class="col-md-4">
					<div class="product-card">
						<div class="product-card-inner">
							<div class="product-image">
								<img src="/static/images/product/nicrome-product/product-images/plot3.png" class="product-card-img" 
								alt="Wing Stickpack"/>
							</div>
							<div class="product-desc">
								<h4 class="center">Ploats:</h4>
								<h5 class="center">Total Plots : 50</h5>
								<h5 class="center">Remaining Plots : 27</h5>
								<h5 class="center">Price per/plot : 2500/-</h5>
								<h5 class="center">Date Of Delivery : 20 April 2021</h5>
							</div>
							<div class="product-action">
								<a href="{{ url_for('select_farmer_info') }}" class="btn btn-primary btn-block btn-sm">Start Now</a>
							</div>
						</div>
					</div>
			</div>
		
			<div class="col-md-4">
					<div class="product-card">
						<div class="product-card-inner">
							<div class="product-image">
								<img src="/static/images/product/nicrome-product/product-images/plot2.png" class="product-card-img"
								alt="Wing 200 E-Line Snack Pack"/>
							</div>
							<div class="product-desc">
								<h4 class="center">Ploats:</h4>
								<h5 class="center">Total Plots : 15</h5>
								<h5 class="center">Remaining Plots : 9</h5>
								<h5 class="center">Price per/plot : 3000/-</h5>
								<h5 class="center">Date Of Delivery : 25 Feb 2021</h5>
							</div>
							<div class="product-action">
								<a href="{{ url_for('select_farmer_info') }}" class="btn btn-primary btn-block btn-sm">Start Now</a>
							</div>
						</div>
					</div>
			</div>
	</div>
	
	
</div>
</main>
